<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/inicio.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>LogoTipo</h1>
            <a href="/perfil" class="ph-fill ph-user-circle"></a>
        </header>
        <nav>
            <div id="agendarSessão">
                <a href="/agendar/sessao"><i class="ph-fill ph-calendar-plus"></i> Agendar Sessão</a>
            </div>
            <div id="cadastrarPaciente">
                <a href="/cadastrar/paciente"><i class="ph-fill ph-user-plus"></i> Cadastrar Paciente</a>
            </div>
            <div id="olharFinanceiro">
                <a href="/agenda"><i class="ph-fill ph-calendar"></i>Olhar Agenda</a>
            </div>
        </nav>
        <main>
            main
        </main>
        <footer>
            <p>LogoTipo <br> Seu gerenciador psicologico</p>
            <p>Projeto final de IHC</p>
        </footer>
    </div>
</body>
</html>