<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/inicio.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <title>Inicio</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>LogoTipo</h1>
            <nav>
                <div id="painelInicial">
                    <a href="/inicio"><i class="ph-fill ph-house"></i>Inicio</a>
                </div>
                <div id="agendarSessão">
                    <a href="/agendar/sessao"> <i class="ph-fill ph-calendar"></i> Agenda <i class="ph-fill ph-caret-down"></i></a>
                    <div class="navContent">
                        <a href="#">Agendar Sessão</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                    </div>
                </div>
                <div id="cadastrarPaciente">
                    <a href="/cadastrar/paciente"> <i class="ph-fill ph-user"></i>Pacientes <i class="ph-fill ph-caret-down"></i></a>
                </div>
                <div>
                    <a href="/financeiro"><i class="ph-fill ph-piggy-bank"></i>Financeiro <i class="ph-fill ph-caret-down"></i></a>
                </div>
            </nav>
            <a href="/perfil" class="ph-fill ph-user-circle"></a>
        </header>

        <main>
            main
        </main>

        <footer>
            <p>LogoTipo <br> Seu gerenciador psicologico</p>
            <p>Projeto final de IHC</p>
        </footer>
    </div>
</body>

</html>