@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend-VariableFont_wght.ttf);
}

:root{
    --cor-bg: #5798A1;
    --cor-bg-secondaria: #105773;
    --cor-bg-escura: #092837;
    --cor-input: #DEDEDE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
}

body{
    min-height: 100vh;
    width: 100%;
}

header  { grid-area: header; }
main    { grid-area: main;   }
footer  { grid-area: footer; }