.container{
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    grid-template-columns: 1fr;
    min-height: 100vh;
    width: 100%;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.navContent{
    display: none;
}

header{
    background-color: var(--cor-bg-escura);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: white;
}

header > a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

nav div{
    justify-self: center;
    align-self: center;
}

nav div a{
    font-size: 1.05rem;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    transition: .2s;
}

nav a i{
    font-size: 1.1rem;
}

nav a i.ph-caret-down{
    font-size: .9rem;
}

main{
    padding: 20px;
}

footer{
    border-top: 1px solid var(--cor-input);
    padding: 15px;
    color: var(--cor-bg-escura);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
